@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-color: #303030;
}
header {
  padding: 15px;
  background-color: #242424;
  color: white;
  text-align: center;
  align-items: center;
  width: 97.9%;
}
span {
  color: #0cf2ad;
}
h1.hello {
  text-align: center;
  font-size: 76px;
}
p.paragraph-1 {
  color: white;
  text-align: center;
}
span.skills {
  color: palegoldenrod;
}
span.projects {
  color:cornflowerblue;
}
.card {
  padding: 5px;
  border-radius: 10px;
  background: #242424;
  color: white;
  width: 20%;
  height: 20%;
  margin-left: 10px;
  transition: 0.5s;
}
.card-2 {
  padding: 5px;
  border-radius: 10px;
  background: #242424;
  color: white;
  width: 20%;
  height: 20%;
  margin-left: 10px;
  transition: 0.5s;
}


p.card-p {
  color: white;
  text-align: center;
}
p.card-p-span {
  color: lightgreen;
  text-align: center;
}
p.card-p-span-2 {
  color: yellow;
  text-align: center;
}
img.prog-img {
  border-radius: 10px;
}
.flex-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-bar-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: cornflowerblue;
}
footer {
  padding: 10px;
  background: #242424;
  color: white;
  display: flex;
  align-items: center;
}
a.socials {
  color: gray;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  h1.hello {
    font-size: 48px;
  }

  .card {
    width: 45%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  h1.hello {
    font-size: 36px;
  }

  .card {
    width: 100%;
    height: auto;
  }
}